.container-div-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-profile {
  display: flex;
  align-items: center;
  margin-top: 10%;
}

.imgPerfil {
  border-radius: 50%;
  width: 250px;
  margin-right: 50px;
}

.container-div-tec {
  margin-top: 5%;
  width: 60%;
}

.container-div-tec h2 {
  margin-bottom: 5%;
}

.container-tec {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin: 0 30px;
  justify-content: space-between;
  height: 83px;
}

.hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(-100%);
  transition-duration: 2s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
}

.tecnologia:nth-child(2) {
  transition-delay: 100ms;
}

.tecnologia:nth-child(3) {
  transition-delay: 200ms;
}

.tecnologia:nth-child(4) {
  transition-delay: 300ms;
}

.tecnologia:nth-child(5) {
  transition-delay: 400ms;
}

.tecnologia:nth-child(6) {
  transition-delay: 500ms;
}

.tecnologia:nth-child(7) {
  transition-delay: 600ms;
}

.tecnologia:nth-child(8) {
  transition-delay: 700ms;
}

.tecnologia {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 73px;
}

.tecnologia span {
  font-size: smaller;
  margin-bottom: 5px;
}

hr {
  margin-top: 6%;
  width: 75%;
  border: 1px solid rgb(184, 1, 141);
}